<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CDRecommend.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C01D7F61EA8B72E005A7D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C01D8121EA8B72E005A7D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C01D81D1EA8B72F005A7D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
